.tab .tab-icon{ 
    color: black;
}

.tab:hover .tab-icon{
    fill: lightskyblue;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.tab:hover .tab-label{ 
    color: lightskyblue;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.menu-tabs{
    @media (max-width: 768px) {
        display: none;
    }
}
