.water-mark{
    max-width: 4vw; 
    position: fixed; 
    z-index: -1;
    bottom: 0;
    margin: 1vw;
    opacity: 50%;

    @media (max-width: 768px) {
        min-width: 12vw; 
        margin: 0 0 1vh 3vw;
    }
}

.logo{
    max-width: 20vw; 
    margin: 0 auto 0 auto;
    @media (max-width: 768px) {
        margin-top: 25vh;
        min-width: 50vw; 
    }
}